.jumbotron {
  padding-top: 5rem;
  background-color: #4b7192;
}

#projects {
  background-color: rgb(75, 113, 146);
}

section {
  padding-top: 5rem;
}

.text-secondary {
  color: #2a2a2a;
}

#contact span {
  font-size: larger;
}

.list-contact {
  width: fit-content;
}
